<link href="css/home.css" rel="stylesheet" type="text/css">
@model MVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Agendamento - Rolê top";
    ViewData["H2"] = "Histórico de eventos";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome do evento</th>
                <th>Descrição do evento</th>
                <th>Forma de pagamento</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var agendamento in Model.agendamento ) {
                <tr>
                    <td>@agendamento.DataEvento</td>
                    <td>@agendamento.NomeEvento</td>
                    <td>@agendamento.DescricaoEvento</td>
                    <td>@agendamento.formasPagamento</td>
                    <td>@agendamento.PrecoTotal</td>
                </tr>
            }
        </tbody>
    </table>

</main>