<link href="~/css/Alugar.css" rel="stylesheet" type="text/css">
@model MVC.ViewModels.AgendamentoViewModel
<main>
    <h1>Alugar</h1>
            <h2>Monte seu evento @Model.NomeUsuario!</h2>


    <form name="formteste" action= '@Url.Action("Registrar","Alugar")' method="POST">
        <div class="triste">

        <div class="teste">
            <input type="text" value="@Model.Cliente.Email" name="email" placeholder="Informe o seu E-mail" required>
        </div>

        <div class="teste">
            <input type="number" value="@Model.Cliente.Cpf_cnpj" name="cpf_cnpj" placeholder="Informe seu cpf/cnpj" required>
        </div>

        <div class="teste">
            <input type="number" value="@Model.Cliente.Telefone" name="telefone" placeholder="Informe seu telefone" required>
        </div>

        <div class="teste">
            <input type="text" name="nome_do_evento" placeholder="Informe o nome do evento" required>
        </div>

        <div class="teste">
            <textarea name="descricao" placeholder="Descreva seu evento" maxlength="500" minlength="20"></textarea>
        </div>
    </div>
        

    <div class="priv-pub">
        <select name="priv_pub" id="evento">
        <option  disabled selected>Evento público ou privado</option>
        <option  required>Privado</option><br />
        <option  required>Público</option><br />
        </select>
    </div>

    <h2>Escolha a data do evento</h2>

        
        <div class="triste">
            <input type="date" id="data" name="dataevento">
        </div>

    <div class="escolhas">

        <p>Aluguel do salão = R$10,000,00</p>

    <H2>Serviços opcionais:</H2>

        <div class="servicos_opcionais">
        @foreach (var servicos in Model.servicos)
        {
        <input type="checkbox" id="@servicos.Key" value="@servicos.Key" name="servicos">
        <label for="@servicos.Key">@servicos.Key + @servicos.Value</label>
        }
        </div>


<div class="formas-de-pagamento">
    
    <h2>Formas de pagamento</h2>
        <select name="pagamento" id="Som">
        <option  disabled selected>Formas de pagamento</option>
        @foreach (var pagamento in Model.FormasDePagamento)
        {
        <option value="@pagamento">@pagamento</option><br />
        }

        </select>

</div>

        <div class="botão">

        <div class="botão-aceitar">
            <input type="submit" name="aceitar" value="Tudo pronto!">
        </div>

    </div>    
</form>
</main>