@model MVC.ViewModels.AgendamentoViewModel
<main>
    <h1>Alugar</h1>

    <form name="formteste" action= 'Url.Action()' method="POST">
        <div class="triste">

        <div class="teste">
            <input type="text" name="Email" placeholder="Informe o seu E-mail" required>
        </div>

        <div class="teste">
            <input type="number" name="Cpf/cnpj" placeholder="Informe seu cpf/cnpj" required>
        </div>

        <div class="teste">
            <input type="number" name="telefone" placeholder="Informe seu telefone" required>
        </div>

        <div class="teste">
            <input type="text" name="nome_do_evento" placeholder="Informe o nome do evento" required>
        </div>

        <div class="teste">
            <textarea name="descrição" placeholder="Descreva seu evento"></textarea>
        </div>
    </div>
        

    <div class="priv-púb">
        <select name="priv_pub" id="evento">
        <option value="" disabled selected>Evento público ou privado</option>
        <option value="" required>Privado</option><br />
        <option value="" required>Público</option><br />
        </select>
    </div>

    <h2>Escolha a data do evento</h2>

        
        <div class="triste">
            
            <input type="date" id="data" name="dataevento">
            <br>

        </div>
    <br>
    <div class="escolhas">

        <p>Aluguel do salão = R$10,000,00</p>

    <H2>Serviços opcionais:</H2>

        <!-- <select name="som" id="som">
        <option value="" disabled selected>Som</option>

        <option value="" required></option><br />
        </select>

        <select name="iluminacao" id="luz">
        <option value="" disabled selected>Iluminação</option>
        <option value="" required>Iluminação R$800,00</option><br />
        <option value="" required>Não adicionar</option><br />
        </select> -->
        <div>
        @foreach (var servicos in Model.servicos)
        {
        <input type="checkbox" id="servicos" value="@servicos" name="Servicos">
        <label for="@servicos">@servicos</label>
        }
        </div>
    </div>


<div class="formas-de-pagamento">
    
    <h2>Formas de pagamento</h2>
        <select name="pagamento" id="Som">
        <option value="" disabled selected>Formas de pagamento</option>
        @foreach (var pagamento in Model.FormasDePagamento)
        {
        <option value="@pagamento">@pagamento</option><br />
        }

        </select>

</div>

        <div class="botão">
    
        <div class="botão-recusar">
            <input type="submit" name="recusar" value="Recusar">
        </div>

        <div class="botão-aceitar">
            <input type="submit" name="aceitar" value="Tudo pronto!">
        </div>

    </div>    
</form>
</main>